<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="actorSandy" class="com.stackroute.domain.Actor">
        <property name="name" value="Sandeep Grover"></property>
         <property name="gender" value="male"></property>
        <property name="age" value="21"></property>
    </bean>
    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Rohit Chakravorty"></constructor-arg>
        <constructor-arg name="gender" value="male"></constructor-arg>
        <constructor-arg name="age" value="22"></constructor-arg>
    </bean>
    <bean id="actorMites" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Mites Mrinoy"></constructor-arg>
        <constructor-arg name="gender" value="male"></constructor-arg>
        <constructor-arg name="age" value="22"></constructor-arg>
    </bean>
    <bean id="actorAbinash" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Abinash Jena"></constructor-arg>
        <constructor-arg name="gender" value="male"></constructor-arg>
        <constructor-arg name="age" value="22"></constructor-arg>
    </bean>
    <bean id="movie" scope="prototype" class="com.stackroute.domain.Movie" autowire="byName">
    </bean>
    <bean name="movieA,movieB" class="com.stackroute.domain.Movie" autowire="constructor">

    </bean>
</beans>